@media (min-width: 830px) and (max-width: 1399px){
    .wrapper{
        max-width: 1399px;
        min-width: 830px;
    }
    container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 56px;
        margin-left: 72px;
        margin-right: 86px;
    }
    header{
        margin: 0 auto;
        width: 830px;
    }
    header h1{
        font-size: 32px;
    }
    main{
        margin: 0 auto;
        margin-bottom: 70.1px;
        width: 830px;
        justify-content: space-between;
    }
    .paragraf{
        width: 383.41px;
        height: 216.61px;
    }
    .paragraf p{
        font-size: 14px;
    }
    .img_1{
        width: 181.86px;
        height: 182.44px;
    }
    .img1 .img_1_1{
        position: absolute;
        width: 181.86px;
        height: 182.44px;

    }
    .img_1 .img_1_2{
        width: 211.98px;
        height: 34.17px;
        top: 165.06px;
        left: 16px;

    }
    footer{
        width: 830px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    .img_2{
        display: none;
    }
    .footer_paragraf div{
        width: 86.88px;
        height: 22.59px;
        margin-right: 55.23px;
        font-size: 11px;
    }
    .footer_paragraf h3{
        font-size: 15px;
    }

}